@charset "utf-8";
/*font*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/* reset */
*{box-sizing:border-box;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,form,input,button,fieldset,textarea,select{
	margin:0; 
	padding:0;
	letter-spacing: -1px;
}
body,h1,h2,h3,h4,h5,h6,th,td,input,button,textarea,select,option{
	font-size:12px;
	line-height: 1.5;
	font-family:  'Noto Sans',sans-serif;
}
ul,ol,li{list-style:none;}
img,button,fieldset{border:none;}
a{text-decoration:none; color:black;}
