  #sidebar-wrapper {
    margin-left: -252px;
	top: 0;
    left: 0;
    width: 252px;
    background: #ffffff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
	border:1px solid #eeeeee;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }
 
  .sidebar-nav li a:hover {
    color: #ffffff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
  }

   .sidebar-nav li div:hover { 

	color: #ffffff;
    background: #ef4e6f;
    text-decoration: none;
  }
    .sidebar-nav li div a span:hover { 
	color: #ffffff;
    text-decoration: none;
  }
 
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 130px;
    line-height: 55px;
    font-size: 18px;
	padding-top: 40px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #ffffff;
    background: none;
  }

  #menu-toggle {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
  }

  #sidebar-wrapper.active {
    left: 252px;
    width: 252px;

    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }